<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao blog do Samir</h1>
  <p class="lead">Esse é um blog simples com Node.js + Express + MongoDB</p>
  <hr class="my-4">
  <p>Aqui você vai poder postar sua dica sobre o Nodejs</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes: </h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagens/{{slug}}">
            <button class="btn btn-success">Leia mais</button>
        </a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>

{{else}}
    <h5>Nenhuma postagem...</h5>
{{/each}}